<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学IT - 后台管理系统</title>
    <?php include('/view/common/style.html')?>
</head>
<body>

<!-- 侧边栏 -->
<?php include('/view/common/aside.html')?>

<!-- 主体 -->
<div class="main">
    <div class="container-fluid">
        <!-- 头部 -->
        <?php include('/view/common/header.html')?>
        <div class="body teacher" id='addTeacherPage'>
            <!--坑-->
        </div>
    </div>
</div>

<!--创建模板-->
<script type='text/template' id='addTeacherFormTempalte'>
    <!-- 面包屑 -->
    <ol class="breadcrumb">
        <li><a href="javascript:;">讲师管理</a></li>
        <li class="active">{{titleInfo}}</li>
    </ol>
    <div class="teacher-add">
        <form id='addTeacherForm' class="form-horizontal col-xs-offset-2">
            <div class="form-group">
                <label for="" class="col-xs-3 control-label">讲师名称</label>
                <div class="col-xs-4">

                    <!--添加隐藏域携带tc_id，在进行保存时使用-->
                    {{if tc_id}}
                        <input type="hidden" name="tc_id" value='{{tc_id}}'>
                    {{/if}}
                    <!--为表单标签添加name属性-->
                    <input data-required data-description='tcName' data-describedby='tcNameInfo' type="text" class="form-control input-sm" placeholder="讲师名称" name='tc_name' value='{{tc_name}}'>
                </div>
                <div class="col-xs-2" id="tcNameInfo"></div>
            </div>
            {{if !tc_id}}
            <div class="form-group">
                <label for="" class="col-xs-3 control-label">密码</label>
                <div class="col-xs-4">
                    <input data-required data-pattern='^\d{6}$' data-description='tcPass' data-describedby='tcPassInfo'  type="password" class="form-control input-sm" name='tc_pass'>
                </div>
                <div class="col-xs-2" id="tcPassInfo"></div>
            </div>
            {{/if}}
            <div class="form-group">
                <label for="" class="col-xs-3 control-label">入职时间</label>
                <div class="col-xs-4">
                    <input data-required data-description='tcJoinDate' data-describedby='tcJoinDateInfo'  type="text" class="form-control input-sm" name='tc_join_date' value='{{tc_join_date}}' data-provide="datepicker" data-date-language='zh-CN' data-date-format='yyyy-mm-dd' data-date-end-date='0d'>
                </div>
                <div class="col-xs-2" id="tcJoinDateInfo"></div>
            </div>
            <div class="form-group">
                <label for="" class="col-xs-3 control-label">类型</label>
                <div class="col-xs-2">
                    <select class="form-control input-sm" name="tc_type" >
                        <option value="1" {{if tc_type==1}}selected{{/if}}>讲师</option>    //判断是不是讲师
                        <option value="0" {{if tc_type==0}}selected{{/if}}>管理员</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-xs-3 control-label">性别</label>
                <div class="col-xs-4">
                    <label class="radio-inline">
                        <input type="radio" name='tc_gender' value='0' {{if tc_gender==0}}checked{{/if}}> 男
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name='tc_gender' value='1' {{if tc_gender==1}}checked{{/if}}> 女
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-7">
                    <input type="submit" value="{{btnInfo}}" class="btn btn-success btn-sm pull-right">
                </div>
            </div>
        </form>
    </div>
</script>

<?php include('/view/common/script.html')?>
<script>
    require(['js/addTeacher']);
</script>
</body>
</html>